html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source-Sans-Pro', sans-serif;
    background-color: #f5f5f5;
}
.bg-color{
    background-color: #ffffff;
}
header{
    border-bottom: solid 2.9px lightgrey;
}
.container{
    width: 100%;
    margin: 0 auto;
}
   
   
.image-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px 30px 20px;
}
    
    
.logo{
    width: 270px;
    height: 67px;
}
.user-avatar, .top-container img{
    width: 67px;
    border-radius: 50%;
}
.vangogh-container{
    display: inline-block;
}
    
.name{
    margin-bottom: 5px;
}
.location{
    margin-top: 0;
    font-size: 22.4px;
    font-weight: 300;
}
.top-container{
    height: 55px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 30px 35px 30px 20px;;
}
   
.top-container img{
    margin-bottom: 10px;
}
#post-pix{
    width: 100%;
    background-size: cover;
    border-radius: 3.5px;
    background-position: center;
}
span{
    font-weight: 700;
}
#icon-section{
    width: 100%;
    margin-top: 20px;
    position:relative;
}
#icon-section img{
    width: 60px;
    margin-left: 15px;
}
#gustava-likes-section,
#likes-section,
#decreux-likes-section{
    margin-left: 15px;
}
#icon-heart{
    position:relative;
    
}
#icon-section #pink{
    position: absolute;
    left: 0;
    bottom: 0%;
    top: 0.5%;
    display: none; 
    width: 62px;
} 
section{
    margin-bottom: 40px;
}

    
    
    
   
